[Desktop Entry]
Encoding=UTF-8
Name=DRC: Dangling Reference Detection for PHP Web Applications - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=y_AKZYhLlU4
Icon=text-html
