[Desktop Entry]
Encoding=UTF-8
Name=Link to DRC: Dangling Reference Checker for PHP Web Applications - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=M5QsxYZFxJo&feature=youtu.be
Icon=text-html
