[Desktop Entry]
Type=Application
Terminal=false
Name=Eclipse
Icon=eclipse
Exec=eclipse -data /home/vagrant/workspace -import /home/vagrant/workspace/myPHPwebsite
Categories=Application;
